@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    margin:0px;
    padding: 0px;
    background-image: url(/imagens/fundo\ manga.jpg);
    position: relative;
    z-index: 1;
    
}
body ::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.041);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.container { 
    padding: 0;
    background-color: black;
    text-align: center;
}
.logo {
    width: 300px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: black;
    text-align: right;
    align-content: center;
    margin: -2px;
}
.menu { 
    margin-top: -1px;
}
nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 18px;
}
nav .menu a:hover {
    color: orange;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top:0;
    padding: 20px;
    background-color:rgba(255, 166, 0, 0.783);
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inicio {
    margin-top:-20px;
}
.biografia {
    width: auto;
    padding: 10px;
    border: 1px solid red;
    margin: 0;
    
}
.manga {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    background-color:rgba(249, 249, 249, 0.778);
    padding: 20px;
}
.manga h2 {
    width:auto;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: orange;
    color: black;
    padding: 10px;
    margin: auto;  
    box-shadow: 1px 1px 3px black; 
}
.manga .person {
    margin: auto;
    background-color: orange;
    color: black;
    box-shadow: 1px 1px 2px black ;
}
.manga p {
    margin: 20px 0;
    word-spacing: 0;
    
}
.chegada {
    margin: 10px 0;
    width: 100%;
    border-radius: 40px
}
.resumo h3 {
    width:auto;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: orange;
    color: black;
    padding: 10px;
    margin: auto;
    
    box-shadow: 1px 1px 3px black;
}
.caracters {
    background-color: rgba(249, 249, 249, 0.778);
    padding: 10px;

}
.caracters h3 {
    width:auto;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    color: orange;
    padding: 10px;
    margin: auto; 
}
.caracters img {
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    border: 4px  solid orange;
    margin-left: 20px;
    margin: auto;
}
.caracters div {
    margin: 15px; 
    background-color:rgba(0, 0, 0, 0.658);
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    text-align: center;
}
.caracters div p {
    text-align: justify;
}
.meme {
    background-color: rgba(249, 249, 249, 0.778);
    padding: 40px;
    border-radius: 0 0 10px 10px;
}
.meme .video {
    position: relative;
}
.meme h3 {
    width:auto;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    color: orange;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
}
.meme .video iframe {
    width: 100%;
    height: 400px;
    top: 5%;
    left: 5%;
}
.meme .episodio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
.links img {
    width: 100%;
}
.links h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    color: orange;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    font-size: 2rem;
    width: fit-content;
}
.links {
    margin: 20px;
}
.get-links {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.get-links a {
    text-decoration: none;
    color: black;
}
.links p {
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: rgba(249, 249, 249, 0.233);
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;


}
footer {
    background-color: black;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}
footer a {
    color: orange;
    text-decoration: none;
}